
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

a.link-text{
    text-decoration: none;
    color: cornsilk;
}

a.link-text:hover{
    color: #a14726;
}

.colored-text{
   color: #a14726;
}

.ml-auto{
    margin-left: auto;
}